<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dead-men-tell-no-tales</title>
</head>
<body>
<h1>Pirates - Home</h1>
<br><strong>Info: </strong>
<p th:if="${trident.status == false}">The Flying Dutchman is still cursing.</p>
<p th:if="${trident.status == true}">The curse over the Flying Dutchman is removed!</p>
<br>
<a th:href="@{/diary}">Go to the diary page</a>
<br/>
<br/>
<form method="post" th:action="@{/logout}">
    <button>Sign Out</button>
</form>
</body></html>