<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Jack Sparrow Page</title>
</head>
<body>

<h3>Login to pirates:</h3>
<form method="post" th:action="@{/login}">
    <fieldset>
        <input autofocus="autofocus" name="username" placeholder="Username" type="text" value=""/>
        <input name="password" placeholder="Password" type="password"/>
    </fieldset><br>
    <button>Login</button>
</form>

<p th:if="${param.logout}">You are logged out</p>
<p th:if="${param.error}">Login mistake, please try it again!</p>

</body></html>