<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDoList</title>
    <meta charset="UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>
</head>

<body><h2>Dr. House Hospital - Patientregistration</h2>
<table>
    <tr><td>
        <form method="post" th:action="@{patients}" th:object="${patient}"><label >Patientname: </label>
        <input th:field="*{name}" type="text"/>
        <button type="submit">Add</button>
        </form>
    </td></tr>
<br>
    <tr><td>
        <form method="post" th:action="@{patients}" th:object="${patient}"><label">Symptoms:&nbsp;&nbsp;&nbsp </label>
            <input th:field="*{name}" type="text"/>
                <button type="submit">Add</button>
        </form>
    </td></tr>
</table>

</body></html>